# Archivos de sistema
.git
.github
.gitignore
.gitattributes
.editorconfig
.DS_Store
.vscode
.idea

# Archivos de Docker
.dockerignore
Dockerfile.backend
docker-compose.yml

# Archivos de Railway
railway.json
railway.toml

# Archivos de Fly.io
.fly/
fly.toml

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de desarrollo y entorno
.env
.env.*
*.log
*.bak
*.tmp
*.swp

# Directorios específicos del proyecto
backend/uploads/*
!backend/uploads/.gitkeep
venvInterior/
.cursor/

# Archivos de caché
.cache
frontend/.cache
frontend/node_modules/.cache
