# Python
__pycache__/
*.py[cod]
*$py.class
venvInterior/
backend/uploads/*
!backend/uploads/.gitkeep

# Node.js
node_modules/
dist/
frontend/.vite/
.env
frontend/.env
backend/.env

# Sistema
.DS_Store
Thumbs.db
